* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.body:not(.results) .search-results {
  display: none;
}


.body:not(.results) .search {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.results .container {
  width: 1650px;
  margin: 0 auto;
  padding: 0 35px 0 35px;
  display: block;
}

.results .search {
  display: none;
}

.results .header {
    border-bottom: 1px solid #EBEBEB;
}

.results .nav {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

/*zmienic to na header */
.results .nav-search {
  padding: 20px 0 20px 0;
  display: inline-flex;
}

.results .nav-search-logo {
  height: 30px;
  margin: 10px 30px 0 0;
  display: flex;
}

.results .input-box {
  width: 600px;
  position: relative;
}



.search-results-header-nav ul {
  margin: 10px 0 15px 0;
  padding: 0;
  list-style: none;
}

.search-results-header-nav ul li {
  display: inline-flex;
  margin: 0 25px 0 0;
}

.search-results-header-nav ul li:last-child {
  margin: 0;
}

.search-results-header-nav ul li a{
  text-decoration: none;
  color: gray;
}

.results .nav-search-input {
  min-width: 600px;
  position: relative;
  border: 1px solid #DDDDDD;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px 25px 13px 45px;
  border-radius: 25px;
  transition: box-shadow 100ms;
  outline: none;
}

.results .search-results-text {
  margin: 15px 0 25px 0;
  display: block;
  font-size: 0.9em;
}

.results .search-results-main-item {
  margin: 0 0 30px 0;
}

.results .search-results-main-item p {
  user-select: none;
}

.results .search-results-main-item a {
  margin: 10px 0 10px 0;
  display: block;
  text-decoration: none;
  font-size: 1.4em;
}

.results .search-results-main-item span {
  max-width: 65ch;
  display: block;
  line-height: 23px;
  font-size: 0.9em;
}

.results footer {
  margin: 120px 0 0 0;
  background: #F2F2F2;
  margin-bottom: 0px;
  position: relative;
}

.results footer h4 {
  padding: 15px 30px;
  border-bottom: 1px solid #DADCE0;
  font-size: 15px;
  color: rgba(0, 0, 0, .54);
  width: 100%;
}

.results footer .links {
  padding-left: 154px;
}

.results footer .links .links-left-results {
  display: block;
  padding: 15px;

}

.results .miasta {
  padding-bottom: 20px;
}

.results .main {
  display: none;
}

.results footer .links-left {
  display: none;
}

.results footer .links-coal {
  display: none;
}

.results footer .links-right {
  display: none;
}

.results .onlymain {
  display: none;
}
