* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.body:not(.results) .search-results {
  display: none;
}

.body:not(.results) .search {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.results .container {
  width: 1650px;
  margin: 0 auto;
  padding: 0 35px 0 35px;
  display: block;
}

.results .search {
  display: none;
}

.results .header {
    border-bottom: 1px solid #EBEBEB;
}

.results .nav {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

/*zmienic to na header */
.results .nav-search {
  padding: 20px 0 20px 0;
  display: inline-flex;
}

.results .nav-search-logo {
  height: 30px;
  margin: 10px 30px 0 0;
  display: flex;
}

.results .input-box {
  width: 600px;
  position: relative;
}

.results .input-box-loup {
  width: 40px;
  height: 38px;
  background-image: url("../../assets/img/lupa.png");
  position: absolute;
  left: 10px;
  top: 7px;
  z-index: 1;
}

.results .input-box-mic {
  width: 37px;
  height: 43px;
  background-image: url("../../assets/img/mikro.png");
  position: absolute;
  right: 7px;
  z-index: 1;
  top: 4px;
}

.search-results-header-nav ul {
  margin: 10px 0 15px 0;
  padding: 0;
  list-style: none;
}

.search-results-header-nav ul li {
  display: inline-flex;
  margin: 0 25px 0 0;
}

.search-results-header-nav ul li:last-child {
  margin: 0;
}

.search-results-header-nav ul li a{
  text-decoration: none;
  color: gray;
}

.results .nav-search-input {
  min-width: 600px;
  position: relative;
  border: 1px solid #DDDDDD;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px 25px 13px 45px;
  border-radius: 25px;
  transition: box-shadow 100ms;
  outline: none;
}

.results .search-results-text {
  margin: 15px 0 25px 0;
  display: block;
  font-size: 0.9em;
}

.results .search-results-main-item {
  margin: 0 0 30px 0;
}

.results .search-results-main-item p {
  user-select: none;
}

.results .search-results-main-item a {
  margin: 10px 0 10px 0;
  display: block;
  text-decoration: none;
  font-size: 1.4em;
}

.results .search-results-main-item span {
  max-width: 65ch;
  display: block;
  line-height: 23px;
  font-size: 0.9em;
}

.results footer h4 {
  padding-left: 180px;
}

.results footer .links {
  padding-left: 154px;
}

.results .miasta {
  padding-bottom: 20px;
}

.results .main {
  display: none;
}

.results footer .links .links-left {
  display: none;
}

.results footer .links .links-coal {
  display: none;
}

.results footer .links .links-right {
  display: none;
}

.results .onlymain {
  display: none;
}

