* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.search {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}

.nav .nav-right li {
    display: inline-block;
    list-style: none;
}

.nav a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    padding: 5px 6.7px;
    text-decoration: none;
    color: black;
}

.nav .test {
    width: 36px;
    padding: 12px;
    margin: auto 7px;
    cursor: pointer;
}

.nav button {
    border: 1px solid #4285F4;
    font-weight: bold;
    outline: none;
    background: #4285F4;
    color: #FFFFFF;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
    width: 118px;
    height: 36px;
}

.main {
    flex: 1;
}

.main .logo {
    display: block;
    margin: 0px auto;
    margin-top: 200px;
}



footer {
    margin: 120px 0 0 0;
    background: #F2F2F2;
    position:absolute;
    bottom:0;
    width: 100%;
}

footer h4 {
    padding: 15px 30px;
    border-bottom: 1px solid #DADCE0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

footer a {
    color: #5F6368;
    padding: 12px 11.3px;
    font-size: 14px;
    text-decoration: none;
}

.links {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.links-left,
.links-coal,
.links-right {
    padding: 15px;
    flex: 1;
}

@media (max-width: 768px) {
    .links {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .links-left {
        order: 1;
    }
}

.links-left {

}

.links-coal {
    text-align: center;
}

.links-right {
    text-align: right;
}

.search-results-header {
    display: none;
}

.container {
    display: none;
}

footer .links-left-results {
    display: none;
}

.nav-search {
    display: none;
}




