<!DOCTYPE html>
<head>
    <title>Google</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/style2.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="cities.js"></script>
</head>

<body>
<div id="app" class="body" :class="[ showResults ? 'results' : '' ]">
    <header class="header">
        <nav class="nav">
            <div class="nav-search">
                <img class="nav-search-logo" src="assets/img/google.png" @click="reset">
                <div
                        class="input-box"
                        :class="{ focused: shouldShowCitiesList }"
                        @blur="toggleFocused(false)"
                >
                    <span class="input-box-loup" @click="submit"></span>
                    <input
                        v-model="googleSearch"
                        class="nav-search-input"
                        ref="second"
                        type="text"
                        @focus="toggleFocused(true)"
                        @keypress.enter="submit"
                        @keyup.esc.prevent="toggleFocused(false)"
                    >
                    <span class="input-box-mic"></span>
                    <ul class="search-bar-results" v-show="shouldShowCitiesList">
                        <li
                                :key="city.name"
                                v-for="city in filteredCities"
                                @click="select(city)"
                        >
                            <span class="input-box-mic"></span>
                            <p v-html="boldName(city.name)"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav-right">
                <li>
                    <a class="onlymain" href="#">Gmail</a>
                </li>
                <li>
                    <a class="onlymain" href="#">Grafika</a>
                </li>
                <li>
                    <img class="test" src="assets/img/bars.png">
                </li>
                <li>
                    <button>Zaloguj się</button>
                </li>
            </ul>
        </nav>
        <div class="main">
            <img
                    src="assets/img/google.png"
                    class="logo"
                    @click="reset"
            >
            <div class="search-bar">
                <div
                    class="input-box-res"
                    :class="{ focused: shouldShowCitiesList }"
                    @blur="toggleFocused(false)"
                >
                    <span class="input-box-res-lupa"></span>
                    <input
                        v-model="googleSearch"
                        ref="first"
                        type="text"
                        class="s-input"
                        @focus="toggleFocused(true)"
                        @keypress.enter="submit"
                        @keyup.esc.prevent="toggleFocused(false)"
                        @keyup.down="goTo(activeResult + 1)"
                        @keyup.up="goTo(activeResult - 1)"
                        @input="isInAutocompleter = false"
                    >
                    <span class="input-box-res-test"></span>
                    <ul v-show="shouldShowCitiesList" class="search-bar-results">

                        <li
                                :key="index"
                                :class="{active: isInAutocompleter && activeResult === index}"
                                v-for="(city, index) in filteredCities"
                                @click="select(city)"
                        >
                            <span class="input-box-mic"></span>
                            <p v-html="boldName(city.name)"></p>
                        </li>
                    </ul>
                </div>
                <input type="submit" class="s-button" value="Szukaj w Google" @keyup.enter="submit">
                <input type="submit" class="s-button" value="Szczęśliwy traf">
            </div>
        </div>
        <div class="container">
            <nav class="search-results-header-nav">
                <ul>
                    <li>
                        <a href="#">Wszystko</a>
                    </li>
                    <li>
                        <a href="#">Wiadomości</a>
                    </li>
                    <li>
                        <a href="#">Grafika</a>
                    </li>
                    <li>
                        <a href="#">Wideo</a>
                    </li>
                    <li>
                        <a href="#">Mapy</a>
                    </li>
                    <li>
                        <a href="#">Więcej</a>
                    </li>
                    <li>
                        <a href="#">Ustawienia</a>
                    </li>
                    <li>
                        <a href="#">Narzędzia</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <span class="search-results-text">Około 420 000 wyników (4,20 s)</span>
        <!-- uzunieta sekcja miast-->
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
        <article class="search-results-main">
            <div class="search-results-main-item">
                <p>www.losowastrona.pl > losowa > strona</p>
                <a href="#">Losowy tytuł strony</a>
                <span>Lorem ipsum dolor sit amet ligula. Aliquam erat eget sapien. Praesent pretium. Vivamus consectetuer condimentum enim quis ante.
						</span>
            </div>
        </article>
    </div>
    <footer>
        <h4>Polska</h4>
        <div class="links">
            <div class="links-left">
                <a href="#">O nas</a>
                <a href="#">Reklamuj się</a>
                <a href="#">Dla firm</a>
                <a href="#">Jak działa wyszukiwarka</a>
            </div>
            <div class="links-coal">
                <a href="#">Neutralność węglowa od 2007 roku</a>
            </div>
            <div class="links-right">
                <a href="#">Prywatność</a>
                <a href="#">Warunki</a>
                <a href="#">Ustawienia</a>
            </div>
            <div class="links-left-results">
                <a href="#">Pomoc</a>
                <a href="#">Prześlij opinię</a>
                <a href="#">Prywatność</a>
                <a href="#">Warunki</a>
            </div>
        </div>
    </footer>

</div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      googleSearch: '',
      cities: window.cities,
      showResults: false,
      isFocused: false,
      activeResult: 0,
      isInAutocompleter: false,
      filteredCities: [],
    },
    watch: {
        googleSearch() {
            if (this.isInAutocompleter) return;
            if (this.googleSearch.length === 0) return;

            let results = this.cities.filter(city => city.name.includes(this.googleSearch))

            this.filteredCities = (results.length > 10) ? results.slice(0, 10) : results

        }
    },
    computed: {
        shouldShowCitiesList() {
            return this.isFocused && this.googleSearch.length !== 0
        },
    },
    methods: {
      boldName(city) {
        return city.replaceAll(this.googleSearch, `<b>${this.googleSearch}</b>`)
      },
      goTo(resultNumber) {
        if(this.isInAutocompleter === false) {
            resultNumber = 0;
        } 

        if (resultNumber < 0) {
            resultNumber = this.filteredCities.length - 1;
        } else if (resultNumber === this.filteredCities.length) {
            resultNumber = 0;
        }
        console.log(this.filteredCities)
        console.log(resultNumber)
        this.activeResult = resultNumber;
        this.isInAutocompleter = true;
        this.googleSearch = this.filteredCities[resultNumber].name;
      },
      submit() {
        this.toggleFocused(false)

        if (this.showResults) return

        this.toggleResults(true)
        this.$refs.second.focus()
      },
      select(city) {
        this.googleSearch = city.name
        this.submit()
      },
      toggleResults(value = undefined) {
        if (value === undefined) {
          return this.showResults = !this.showResults
        }
        this.showResults = value
      },
      toggleFocused(value = undefined) {
        if (value === undefined) {
          return this.isFocused = !this.isFocused
        }
        this.isFocused = value
      },
      reset() {
        this.googleSearch = ''
        this.toggleResults(false)
      }
    },
  })
</script>
</html>
